<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>AppComponent app</h3>
      <hr>
      <!-- <div app-servers></div> -->
      <!-- <div class="app-servers"></div> -->
      <app-servers></app-servers>
    </div>
  </div>
</div>

<ul class="note">
  <li>
    <p>
      String interpolation - print a text to a template
      <br/>
      Property binding - changing a value of a HTML, directive or component's property
      <br/>
      ! Don't mix property binding and string interpolation - a TypeScript code needs to be between the quotation marks !
    </p>
  </li>
  <li>
    <p>
      To be able to use ngModel for two-way binding, the FormsModule (@angular/forms) needs to be added to AppModule
    </p>
  </li>
  <li>
    <p>
      ngIf directive does not add a HTML tag to the DOM if a condition evaluates to false
    </p>
  </li>
  <li>
    <p>
      Structural directives add or remove elements. They're marked with a '*' sign
      <br/>
      Attribute directives change an element on which they were placed
    </p>
  </li>
</ul>