<label>Server name</label>
<input 
  type="text" 
  class="form-control"
  (input)="onUpdateServerName($event)">
<p>{{ serverName }}</p>
<button 
  class="btn btn-primary" 
  [disabled]="!allowNewServer" 
  (click)="onCreateServer()">
  Add Server
</button>
<p>{{ serverCreationStatus }}</p>
<hr>
<p>{{ allowNewServer }}</p>
<p [innerText]="allowNewServer"></p>
<p class="note">
  String interpolation - print a text to a template
  <br/>
  Property binding - changing a value of a HTML, directive or component's property
  <br/>
  ! Don't mix property binding and string interpolation - a TypeScript code needs to be between the quotation marks !
</p>
<hr>
<app-server></app-server>
<app-server></app-server>
