<label>Server name</label>
<input 
  type="text" 
  class="form-control"
  (input)="onUpdateServerName($event)">
<label>Server name (two-way)</label>
<input 
  type="text" 
  class="form-control"
  [(ngModel)]="serverName">
<p>{{ serverName }}</p>
<button 
  class="btn btn-primary" 
  [disabled]="!allowNewServer" 
  (click)="onCreateServer()">
  Add Server
</button>
<p>{{ allowNewServer }}</p>
<p [innerText]="allowNewServer"></p>
<hr>
<p>{{ serverCreationStatus }}</p>
<p *ngIf="serverCreated">Server was created with a name {{ serverName }}</p>
<hr>
<app-server></app-server>
<app-server></app-server>
